table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto Slab";
}

th,
td {
  border: 3px solid white;
  padding: 8px 12px;
}

th {
  background-color: white;
}
